<style>
  button{
    transition: padding 300ms ease;
  }
  button:hover{
    padding: 0.5rem 1.5rem;
  }
</style>
<form action="" method="post" [formGroup]="form" (ngSubmit)="onSubmit()">

    <span style="color: #0ef700" class="transition-opacity duration-300 ease-in-out" x-data="{ show: true }" x-show="show" x-init="setTimeout(() => { show = false }, 3000)">
        {{success}}
    </span>
  <span style="color: red" class="transition-opacity duration-300 ease-in-out" x-data="{ show: true }" x-show="show" x-init="setTimeout(() => { show = false }, 3000)">
        {{echec}}
    </span>
  <div>
    <input type="text" formControlName="title"
           class="border-gray-200 rounded-lg mx-auto my-5 w-2/3"
           [value]="response===undefined?0:response?.results?.title"
           placeholder="Veuillez entrer un titre">
    <select formControlName="etat"
    class="mx-5 w-30 h-10 rounded-lg px-4 border-gray-200" >
      <option value="0">Plannifié</option>
      <option value="1">En cours</option>
      <option value="2">Terminé</option>
    </select>

    <a href="#">
      <button type="sumbit"  class="mx-5 bg-sky-500 hover:bg-sky-600 w-30 h-10 rounded-lg px-4 font-semibold text-white">Enregistrer</button>
    </a>
  </div>
  @if (form.controls['title'].errors && (form.controls['title'].dirty || form.controls['title'].touched)) {
    <small class="ml-10" style="padding-left:10%; color: red">Le titre doit contenir au moins 1 caractère </small>
  }
  @if (form.controls['description'].errors && (form.controls['description'].dirty || form.controls['description'].touched)) {
    <small class="ml-10" style="padding-left:10%; color: red">La description doit contenir au moins 1 caractères </small>
  }
  <style>
    textarea:focus{
      outline: none;
    }
  </style>
  <textarea type="" formControlName="description"
            class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700
            w-full"
            style="height:80vh;"
            [value]="response===undefined?0:response?.results?.description">
    </textarea>
</form>
