<div class="items-center">
    <div class="flex row justify-center">
        <div class=" p-2 border-zinc-800 border-dotted border-4 rounded-full">
            <img class="w-36" src="https://www.svgrepo.com/show/343494/profile-user-account.svg" alt="Profile" srcset="">
        </div>
    </div>
    <div class="w-1/2 mx-auto my-8">
        <div class="flex row justify-between mx-auto my-5">
            <label for="name" class="text-gray-900 text-xl font-medium">Nom d'utilisateur</label>
            <input disabled type="text" name="name" id="name" value="Kephren NZE" class="border-sky-800 bg-blue-200 border-2 rounded-lg w-1/2 cursor-not-allowed">
        </div>
        <div class="flex row justify-between mx-auto my-5">
            <label for="email" class="text-gray-900 text-xl font-medium">Adresse electronique</label>
            <input disabled type="email" name="email" id="email" value="kephnze@gmail.com" class="border-sky-800 bg-blue-200 border-2 rounded-lg w-1/2 cursor-not-allowed	">
        </div>
        <div class="flex row justify-between mx-auto my-5">
            <label for="name" class="text-gray-900 text-xl font-medium">Date de création</label>
            <input disabled type="text" name="name" id="name" value="12/09/2024" class="border-sky-800 bg-blue-200 border-2 rounded-lg w-1/2 cursor-not-allowed	">
        </div>
        <div class="flex row justify-between mx-auto my-5">
            <label for="name" class="text-gray-900 text-xl font-medium">Contributions</label>
            <input disabled type="text" name="name" id="name" value="12" class="border-sky-800 bg-blue-200 border-2 rounded-lg w-1/2 cursor-not-allowed	">
        </div>
    </div>
</div>
