<form action="" method="post">
    <div>
        <input type="text" name="search" id="search" class="border-gray-200 rounded-lg mx-auto my-5 w-2/3">
        <a href="#">
            <button type="button"  class="mx-5 bg-sky-500 hover:bg-sky-600 w-30 h-10 rounded-lg px-4 font-semibold text-white">Enregistrer</button>
        </a>
    </div>
    <style>
        textarea:focus{
            outline: none;
        }
    </style>
    <textarea type="" name="text" 
    class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700
            w-full"
    style="height: 80vh;"> 
    </textarea>    
</form>
