<div >
    <input (keyup)="onKeyup()" [(ngModel)]="key"
    type="text" name="search"  class="border-gray-200 rounded-lg mx-auto my-5 w-2/3">
    <a href="#">
          <button type="button" id="search"
                  class="mx-5 bg-sky-500 hover:bg-sky-600 h-10 rounded-lg px-4 font-semibold text-white">Rechercher</button>
    </a>
</div>
<div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700">
    <div class="grid grid-cols-3 gap-4 mb-4">
      @for (item of response?.results; track $index){
        <a
           href="/details/{{item.id}}"
        >
          <style>
            button{
              transition: padding 300ms ease;
            }
            button:hover{
              padding: 0.5rem 1.5rem;
            }
            .form-item{
              transition: padding 300ms ease;
              background-color: rgb(249 250 251 / 100%);
            }
            .form-item:hover{
              padding: 0.5rem;
              background-color: rgb(239 240 241 / 100%);
            }
          </style>
          <div class="form-item flex flex-col	hover:cursor-pointer items-start justify-center rounded dark:bg-gray-800 p-4.5">
            <h2 class="text-xl text-gray-900 font-semibold dark:text-gray-500">{{ item.title }}</h2>
            <span class="text-xs italic text-gray-400 dark:text-gray-500">Modifiée le 11/09/2024</span>
            <div class="my-2 inline-flex items-center justify-center">
             <span
               [ngClass]="item.etat=='Plannified'?
               'inline-flex items-center justify-center px-2 text-sm font-medium text-yellow-900 bg-yellow-100 rounded-full dark:bg-gray-700 dark:text-gray-300':item.etat=='InProgress'?
               'inline-flex items-center justify-center px-2 text-sm font-medium text-blue-900 bg-blue-100 rounded-full dark:bg-gray-700 dark:text-gray-300':
               'inline-flex items-center justify-center px-2 text-sm font-medium text-green-900 bg-green-100 rounded-full dark:bg-gray-700 dark:text-gray-300' "
               class="">
               {{item.etat}}
             </span>
              <div class="inline-flex items-center justify-center p-1 mx-2 text-sm font-medium text-blue-800 bg-blue-100 hover:bg-blue-200 rounded-full dark:bg-blue-900 dark:text-blue-300">
                <svg class="w-4 h-4 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                  <path fill-rule="evenodd" d="M4.998 7.78C6.729 6.345 9.198 5 12 5c2.802 0 5.27 1.345 7.002 2.78a12.713 12.713 0 0 1 2.096 2.183c.253.344.465.682.618.997.14.286.284.658.284 1.04s-.145.754-.284 1.04a6.6 6.6 0 0 1-.618.997 12.712 12.712 0 0 1-2.096 2.183C17.271 17.655 14.802 19 12 19c-2.802 0-5.27-1.345-7.002-2.78a12.712 12.712 0 0 1-2.096-2.183 6.6 6.6 0 0 1-.618-.997C2.144 12.754 2 12.382 2 12s.145-.754.284-1.04c.153-.315.365-.653.618-.997A12.714 12.714 0 0 1 4.998 7.78ZM12 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" clip-rule="evenodd"/>
                </svg>
              </div>
            </div>
          </div>
        </a>

      }
       <div class="flex items-center justify-center h-24 rounded bg-gray-50 dark:bg-gray-800">
          <p class="text-2xl text-gray-400 dark:text-gray-500">
             <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
             </svg>
          </p>
       </div>
    </div>
 </div>
